[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
	ignore = dirty
[submodule "oh-my-zsh"]
	path = zsh/oh-my-zsh
    url = https://github.com/robbyrussell/oh-my-zsh.git
    ignore = dirty
[submodule "antigen"]
	path = zsh/antigen
    url = https://github.com/zsh-users/antigen.git
[submodule "zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
    url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "pure"]
	path = zsh/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "powerlevel10k"]
	path = zsh/oh-my-custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
